<%- include('../partials/header') %>
<div class="browse">
    <h1>Browse Games</h1>
    <div class='games-flex'>
        <% games.forEach(g => { %>
            <div class="games-list">
                <a href="/games/<%= g.id %>" class="game-links"><%= g.name %></a>
            </div>
        <% }) %>
    </div>
</div>
</body>
</html>